<h1>These are all your Packing Lists</h1>

<div class="row">

<% @packs = Pack.all %>

<% @packs.each do |pack| %>
  <div class="col-sm-6 col-md-4">
    <div class="caption">
      <h3><%= link_to pack.trip_id, pack %></h3>
      <p><%= pack.quantity %></p>
    </div>
  </div>
</div>
<% end %>





